body {
    background: linear-gradient(135deg, #001f3f, #052c4f, #0c395f, #13476f, #1a557f);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 10vh;
    font-size: 2rem;
    color: #fff;
}

.intro {
    text-align: center;
    margin-top: 15vh;
    color: #fff;
}

/* Sticky Category Names and Full Width */
.categories {
    display: flex;
    justify-content: space-evenly; /* Spread out category names evenly */
    width: 100%; /* Ensure it spans the entire width */
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: sticky; /* Fix the categories at the top */
    top: 0; /* Stick to the top */
    z-index: 10; /* Ensure categories stay above other content */
    background-color: rgba(0, 0, 0, 0); /* Transparent by default */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    height: auto; /* Allow it to grow as needed */
}

.categories.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Add faint background color when scrolled */
}

/* Category styling */
.category {
    cursor: pointer;
    padding: 10px;
    margin: 0 10px; /* Add margin between categories */
    border: none;
    transition: color 0.3s; /* Smooth color transition on hover */
    white-space: nowrap; /* Prevent long category names from wrapping */
}

.category:hover {
    color: #ff7e5f; /* Orange hover color */
}

.category.selected {
    color: #1a557f; /* Highlight selected category */
    font-weight: bold;
}

.metrics {
    padding: 20px;
}

.category-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ADD8E6; /* Light blue color for category names */
    margin-bottom: 10px;
}

.metric {
    background-color: rgba(0, 0, 0, 0.5); /* Dark translucent background */
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 80%;
    max-width: 800px;
}

.metric h4 {
    color: #ADD8E6; /* Bright text color for metric names */
    margin-top: 0;
    padding: 5px 10px;
}

.progress {
    color: gold; /* Gold color for progress */
}

.loading,
.error {
    font-size: 1.2rem;
    color: gold;
    text-align: center;
    margin-top: 20px;
}

.loading {
    color: #ffcc00;
}

.error {
    color: #ff0000;
}
