.return-home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: transparent; 
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff; 
    border-radius: 5px;
}
  
.return-home-button:hover {
   color: salmon; 
}
  